<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Drag Papers ❤️</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Short+Stack&amp;family=Homemade+Apple&amp;display=swap'><link rel="stylesheet" href="static/css/style.css">

</head>
<body>

<div class="paper heart">

</div>

  
<div class="paper image">
  <p> Always be happy</p>
    <p>and full of cheer!🎉 </p>
   <img src="static/images/images.jpeg" />
</div>

<div class="paper image">
  <p</p>
  <img src="static/images/2.png" />
</div>

<div class="paper image">
  <p>Wishing you </p>
   <p> Happy Birth Day 🎂 </p>

  <img src="static/images/4.jpeg" />
</div>



<div class="paper red">
<p class="p1"> and a respectfull</p>
<p class="p2">Person 🙏🏼</p>
</div>

<div class="paper">
<p class="p1">Bhagyashree...</p>
  <p class="p1">You are a Nice<span style="color: red !important;">❤️</span></p>
</div>

<div class="paper">
<p class="p1">Drag the papers to move!</p>
</div>
<!-- partial -->
  <script  src="static/js/mobile.js"></script>

</body>
</html>
