<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Rojali - Drag Papers ❤️</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Short+Stack&amp;family=Homemade+Apple&amp;display=swap'><link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" href="{{ url_for('static', filename='images/rojali.ico') }}" type="image/x-icon">

</head>
<body>

<div class="paper heart">

</div>

  
<div class="paper image">
  <p> Always be happy</p>
    <p>and full of cheer!💐 </p>
   <img src="static/images/rojali1.jpg" />
</div>

<div class="paper image">
  <p</p>
  <img src="static/images/rojali6.jpg" />
</div>

<div class="paper image">
  <p>Wishing you </p>
   <p> Happy Birth Day 🎂 </p>

  <img src="static/images/rojali2.jpg" />
</div>



<div class="paper red">
<p class="p1"> for your support</p>
<p class="p2">and care 🫡.</p>
</div>

<div class="paper">
<p class="p1">Rojali...</p>
  <p class="p1">Thank you very much<span style="color: red !important;">❤️</span></p>
</div>

<div class="paper">
<p class="p1">Drag the papers to move!</p>
</div>
<!-- partial -->
  <script  src="static/js/mobile.js"></script>

</body>
</html>
